---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div
  class="card-hover rounded-lg bg-base-200 border border-base-300 hover:border-primary transition-all ease-in-out hover:scale-[101%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold text-base-content">
          {title}
          {badge && <div class="badge badge-primary mx-2">{badge}</div>}
        </h1>
        <br>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => (
                <a href={`${tag_url}/${tag}`} class="badge badge-outline">
                  {tag}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>
